
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (ViewBag.alert == true)
{
    <h4 class="alert alert-danger" role="alert">@ViewBag.error</h4>
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <label for="inputEmail">Email address</label>
    @Html.TextBox("Email address", "", new { type = "email", id = "inputEmail", @class = "form-control", placeholder = "Email Address", required = true, autofocus = true})
    <br />

    <label for="inputPassword">Password</label>
    @Html.Password("Password", "", new { type = "password", id = "inputPassword", @class = "form-control", placeholder = "Password", required = true})
    <br />
    
    <button class="btn btn-lg btn-primary" type="submit">Login</button>
}

<br /><br /><br />

<div>
    @Html.ActionLink("Create an Account", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink"})
</div>

